<div class="pay-story">
    <h2 class="h1 text-gradient text-gradient--theme_secondary text-center">Brutalmente Facil de Pagar</h2>
</div>

<style>
    .pay-story {
        align-content: center;

        h2 {
            grid-column: 1 / -1;
        }
    }
</style>
