<div class="pay-story">
    <h2 class="h2 text-center">Encuentra la etiqueta de pago</h2>
    <div class="pay-story__img w-full max-w-xs"></div>
</div>

<style>
    .pay-story__img {
        background-image: url("../../img/scan-tag.png");
    }
</style>
