<div class="pay-story">
    <h2 class="h2 text-center">Ingresa el monto y envia</h2>
    <div class="pay-story__img w-full max-w-xs"></div>
</div>

<style>
    .pay-story__img {
        background-image: url("../../img/type-amount.png");
    }
</style>
