<footer class="footer container">
    <div>
        <a class="footer__logo" href="." aria-label="Ir a inicio">
            <svg width="151" height="23" viewBox="0 0 151 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M18.9877 9.08953C18.8625 7.07293 18.1228 5.14649 16.872 3.57909C15.6211 2.01169 13.9215 0.881563 12.0102 0.346431C10.099 -0.188702 8.07156 -0.10213 6.21091 0.594068C4.35026 1.29027 2.74925 2.56134 1.63134 4.22989C-0.735929 7.74199 -0.360662 12.4458 1.69032 16.0089C2.82177 17.9809 4.44458 19.6128 6.39419 20.7392C6.90588 21.0275 7.43235 21.2877 7.97133 21.5186C8.49834 21.7472 9.06493 22.0487 9.6552 21.9933C10.2342 21.8834 10.7926 21.6817 11.3103 21.3955C11.7959 21.1783 12.269 20.933 12.7272 20.6608C14.4177 19.6411 15.8558 18.2389 16.9302 16.5626C18.0047 14.8862 18.6868 12.9805 18.924 10.9926C18.995 10.361 19.0163 9.72459 18.9877 9.08953ZM4.74759 5.1727C6.77994 2.83091 10.4403 2.40322 12.9989 4.10883C14.2157 4.93637 15.1106 6.17148 15.5287 7.60052C15.9468 9.02956 15.8619 10.5627 15.2885 11.9346C14.8704 12.902 14.2267 13.7505 13.4135 14.4063C12.6002 15.0621 11.642 15.5052 10.6223 15.6971C10.2325 15.7724 9.83609 15.8065 9.43943 15.7988C9.10879 15.7905 8.47196 15.5871 8.17935 15.8067C7.92671 15.9962 8.08155 16.3187 8.14364 16.5584C8.24742 16.9179 8.245 17.3006 8.13666 17.6587C8.01698 17.9638 7.81127 18.2258 7.54554 18.4117C7.27981 18.5976 6.96599 18.6991 6.64373 18.7032C5.52335 18.6889 4.93619 17.2729 4.57761 16.4006C3.15958 12.9399 2.15485 8.32318 4.74952 5.17072L4.74759 5.1727Z"
                    fill="#FFB514"></path>
                <path
                    d="M148.227 7.50729V13.8198C148.227 14.2475 148.323 14.5579 148.516 14.7511C148.723 14.9305 149.068 15.0202 149.551 15.0202H151V16.9863H149.137C148.075 16.9863 147.261 16.738 146.695 16.2413C146.129 15.7445 145.847 14.9374 145.847 13.8198V7.50729H144.501V5.58251H145.847V2.74707H148.227V5.58251H151V7.50729H148.227Z"
                    fill="white"></path>
                <path
                    d="M143.98 11.0048C143.98 11.4325 143.952 11.8188 143.897 12.1638H135.184C135.253 13.0744 135.591 13.8057 136.198 14.3576C136.805 14.9095 137.55 15.1855 138.433 15.1855C139.703 15.1855 140.6 14.6543 141.124 13.5919H143.67C143.325 14.6405 142.697 15.5028 141.786 16.1789C140.889 16.8412 139.772 17.1724 138.433 17.1724C137.343 17.1724 136.364 16.9309 135.494 16.448C134.639 15.9513 133.963 15.2614 133.466 14.3783C132.983 13.4815 132.742 12.4466 132.742 11.2738C132.742 10.101 132.976 9.07309 133.445 8.19004C133.928 7.29319 134.598 6.6033 135.453 6.12038C136.322 5.63746 137.316 5.396 138.433 5.396C139.51 5.396 140.468 5.63056 141.31 6.09968C142.152 6.5688 142.807 7.23109 143.276 8.08656C143.745 8.92822 143.98 9.90096 143.98 11.0048ZM141.517 10.2597C141.503 9.39044 141.193 8.69366 140.586 8.16934C139.979 7.64503 139.227 7.38287 138.33 7.38287C137.516 7.38287 136.819 7.64503 136.239 8.16934C135.66 8.67986 135.315 9.37664 135.205 10.2597H141.517Z"
                    fill="white"></path>
                <path d="M131.258 1.67041V16.9859H128.899V1.67041H131.258Z" fill="white"></path>
                <path d="M126.629 1.67041V16.9859H124.27V1.67041H126.629Z" fill="white"></path>
                <path
                    d="M110.284 11.2324C110.284 10.0872 110.519 9.07309 110.988 8.19004C111.471 7.30698 112.119 6.62399 112.933 6.14107C113.761 5.64436 114.672 5.396 115.665 5.396C116.562 5.396 117.342 5.57537 118.004 5.93411C118.68 6.27905 119.218 6.71368 119.618 7.23799V5.58227H121.999V16.9861H119.618V15.289C119.218 15.8271 118.673 16.2755 117.983 16.6343C117.294 16.993 116.507 17.1724 115.624 17.1724C114.644 17.1724 113.748 16.924 112.933 16.4273C112.119 15.9168 111.471 15.2131 110.988 14.3162C110.519 13.4056 110.284 12.3777 110.284 11.2324ZM119.618 11.2738C119.618 10.4874 119.453 9.80437 119.122 9.22487C118.804 8.64536 118.384 8.20384 117.859 7.90029C117.335 7.59674 116.769 7.44496 116.162 7.44496C115.555 7.44496 114.989 7.59674 114.465 7.90029C113.941 8.19004 113.513 8.62467 113.182 9.20417C112.864 9.76988 112.706 10.446 112.706 11.2324C112.706 12.0189 112.864 12.7088 113.182 13.3021C113.513 13.8954 113.941 14.3507 114.465 14.6681C115.003 14.9716 115.569 15.1234 116.162 15.1234C116.769 15.1234 117.335 14.9716 117.859 14.6681C118.384 14.3645 118.804 13.923 119.122 13.3435C119.453 12.7502 119.618 12.0603 119.618 11.2738Z"
                    fill="white"></path>
                <path
                    d="M109.953 2.60205L105.689 16.9862H103.019L99.9976 6.09978L96.7896 16.9862L94.1404 17.0069L90.0632 2.60205H92.5675L95.5478 14.3163L98.7765 2.60205H101.426L104.427 14.2542L107.428 2.60205H109.953Z"
                    fill="white"></path>
                <path
                    d="M83.245 4.07151C82.8172 4.07151 82.4585 3.92663 82.1687 3.63688C81.879 3.34713 81.7341 2.98839 81.7341 2.56066C81.7341 2.13293 81.879 1.77419 82.1687 1.48443C82.4585 1.19468 82.8172 1.0498 83.245 1.0498C83.6589 1.0498 84.0107 1.19468 84.3005 1.48443C84.5902 1.77419 84.7351 2.13293 84.7351 2.56066C84.7351 2.98839 84.5902 3.34713 84.3005 3.63688C84.0107 3.92663 83.6589 4.07151 83.245 4.07151ZM84.404 5.58236V16.9862H82.0446V5.58236H84.404Z"
                    fill="white"></path>
                <path
                    d="M75.172 5.396C76.0689 5.396 76.8691 5.58227 77.5728 5.9548C78.2903 6.32734 78.8491 6.87925 79.2492 7.61053C79.6632 8.34181 79.8701 9.22487 79.8701 10.2597V16.9861H77.5314V10.6115C77.5314 9.59051 77.2762 8.81094 76.7656 8.27283C76.2551 7.72092 75.5583 7.44496 74.6753 7.44496C73.7922 7.44496 73.0885 7.72092 72.5642 8.27283C72.0537 8.81094 71.7985 9.59051 71.7985 10.6115V16.9861H69.4597V10.6115C69.4597 9.59051 69.2045 8.81094 68.694 8.27283C68.1834 7.72092 67.4867 7.44496 66.6036 7.44496C65.7205 7.44496 65.0169 7.72092 64.4925 8.27283C63.982 8.81094 63.7268 9.59051 63.7268 10.6115V16.9861H61.3674V5.58227H63.7268V6.88615C64.1131 6.41703 64.6029 6.05139 65.1962 5.78923C65.7895 5.52707 66.4242 5.396 67.1003 5.396C68.011 5.396 68.825 5.58916 69.5425 5.9755C70.26 6.36184 70.8119 6.92065 71.1983 7.65193C71.5432 6.96204 72.0813 6.41703 72.8126 6.01689C73.5439 5.60296 74.3303 5.396 75.172 5.396Z"
                    fill="white"></path>
                <path
                    d="M47.3819 11.2324C47.3819 10.0872 47.6165 9.07309 48.0856 8.19004C48.5686 7.30698 49.217 6.62399 50.0311 6.14107C50.859 5.64436 51.7696 5.396 52.7631 5.396C53.6599 5.396 54.4395 5.57537 55.1018 5.93411C55.7779 6.27905 56.316 6.71368 56.7161 7.23799V5.58227H59.0962V16.9861H56.7161V15.289C56.316 15.8271 55.771 16.2755 55.0811 16.6343C54.3912 16.993 53.6047 17.1724 52.7217 17.1724C51.742 17.1724 50.8452 16.924 50.0311 16.4273C49.217 15.9168 48.5686 15.2131 48.0856 14.3162C47.6165 13.4056 47.3819 12.3777 47.3819 11.2324ZM56.7161 11.2738C56.7161 10.4874 56.5505 9.80437 56.2194 9.22487C55.9021 8.64536 55.4812 8.20384 54.9569 7.90029C54.4326 7.59674 53.8669 7.44496 53.2598 7.44496C52.6527 7.44496 52.087 7.59674 51.5627 7.90029C51.0384 8.19004 50.6106 8.62467 50.2795 9.20417C49.9621 9.76988 49.8035 10.446 49.8035 11.2324C49.8035 12.0189 49.9621 12.7088 50.2795 13.3021C50.6106 13.8954 51.0384 14.3507 51.5627 14.6681C52.1008 14.9716 52.6665 15.1234 53.2598 15.1234C53.8669 15.1234 54.4326 14.9716 54.9569 14.6681C55.4812 14.3645 55.9021 13.923 56.2194 13.3435C56.5505 12.7502 56.7161 12.0603 56.7161 11.2738Z"
                    fill="white"></path>
                <path
                    d="M39.5641 5.396C40.4472 5.396 41.2268 5.57537 41.9028 5.93411C42.5927 6.27905 43.1308 6.71368 43.5172 7.23799V5.58227H45.8973V17.1724C45.8973 18.221 45.6765 19.1523 45.235 19.9664C44.7935 20.7943 44.1519 21.4428 43.3102 21.9119C42.4824 22.381 41.4889 22.6156 40.3299 22.6156C38.7846 22.6156 37.5014 22.2499 36.4803 21.5187C35.4593 20.8012 34.8798 19.8215 34.7418 18.5797H37.0805C37.2599 19.173 37.6393 19.6491 38.2188 20.0078C38.8122 20.3803 39.5158 20.5666 40.3299 20.5666C41.2819 20.5666 42.0477 20.2769 42.6272 19.6974C43.2205 19.1178 43.5172 18.2762 43.5172 17.1724V15.2683C43.117 15.8064 42.572 16.2617 41.8821 16.6343C41.2061 16.993 40.4334 17.1724 39.5641 17.1724C38.5707 17.1724 37.66 16.924 36.8322 16.4273C36.0181 15.9168 35.3696 15.2131 34.8867 14.3162C34.4176 13.4056 34.183 12.3777 34.183 11.2324C34.183 10.0872 34.4176 9.07309 34.8867 8.19004C35.3696 7.30698 36.0181 6.624 36.8322 6.14107C37.66 5.64436 38.5707 5.396 39.5641 5.396ZM43.5172 11.2738C43.5172 10.4874 43.3516 9.80438 43.0205 9.22487C42.7031 8.64536 42.2823 8.20384 41.758 7.90029C41.2337 7.59674 40.6679 7.44496 40.0608 7.44496C39.4537 7.44496 38.888 7.59674 38.3637 7.90029C37.8394 8.19004 37.4117 8.62467 37.0805 9.20417C36.7632 9.76988 36.6045 10.446 36.6045 11.2324C36.6045 12.0189 36.7632 12.7088 37.0805 13.3021C37.4117 13.8954 37.8394 14.3507 38.3637 14.6681C38.9018 14.9716 39.4675 15.1234 40.0608 15.1234C40.6679 15.1234 41.2337 14.9716 41.758 14.6681C42.2823 14.3645 42.7031 13.923 43.0205 13.3435C43.3516 12.7502 43.5172 12.0603 43.5172 11.2738Z"
                    fill="white"></path>
                <path
                    d="M20.9841 11.2324C20.9841 10.0872 21.2186 9.07309 21.6878 8.19004C22.1707 7.30698 22.8192 6.62399 23.6332 6.14107C24.4611 5.64436 25.3718 5.396 26.3652 5.396C27.262 5.396 28.0416 5.57537 28.7039 5.93411C29.38 6.27905 29.9181 6.71368 30.3182 7.23799V5.58227H32.6984V16.9861H30.3182V15.289C29.9181 15.8271 29.3731 16.2755 28.6832 16.6343C27.9933 16.993 27.2069 17.1724 26.3238 17.1724C25.3442 17.1724 24.4473 16.924 23.6332 16.4273C22.8192 15.9168 22.1707 15.2131 21.6878 14.3162C21.2186 13.4056 20.9841 12.3777 20.9841 11.2324ZM30.3182 11.2738C30.3182 10.4874 30.1527 9.80437 29.8215 9.22487C29.5042 8.64536 29.0833 8.20384 28.559 7.90029C28.0347 7.59674 27.469 7.44496 26.8619 7.44496C26.2548 7.44496 25.6891 7.59674 25.1648 7.90029C24.6405 8.19004 24.2127 8.62467 23.8816 9.20417C23.5642 9.76988 23.4056 10.446 23.4056 11.2324C23.4056 12.0189 23.5642 12.7088 23.8816 13.3021C24.2127 13.8954 24.6405 14.3507 25.1648 14.6681C25.7029 14.9716 26.2686 15.1234 26.8619 15.1234C27.469 15.1234 28.0347 14.9716 28.559 14.6681C29.0833 14.3645 29.5042 13.923 29.8215 13.3435C30.1527 12.7502 30.3182 12.0603 30.3182 11.2738Z"
                    fill="white"></path>
            </svg>
        </a>
        <p class="footer__inquiries label-small">Para consultas comerciales: <a href="https://wa.me/584129179124" target="_blank">WhatsApp +58 412-9179124</a></p>
    </div>
    <a class="footer__gplay-link" href="https://play.google.com/store/apps/details?id=io.ionic.pagami&hl=es&gl=US&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1">
        <img alt="Disponible en Google Play" src="https://play.google.com/intl/en_us/badges/static/images/badges/es-419_badge_web_generic.png" />
    </a>

    <p class="label-small">© {new Date().getFullYear()} Pagami Wallet. Todos los derechos reservados.</p>
</footer>

<style>
    .footer {
        display: flex;
        justify-items: center;
        align-items: center;
        flex-direction: column;
        gap: 70px;
        text-align: center;

        color: var(--md-ref-neutral-variant60);
        padding-bottom: 16px;

        .footer__logo {
            margin-inline: auto;
        }

        .footer__logo,
        .footer__gplay-link {
            display: block;
            max-width: 150px;
        }

        .footer__inquiries {
            margin-top: 16px;
            a {
                color: var(--md-sys-color-secondary);
            }
        }
    }
</style>
