<title>Pagami Wallet: Una Billetera Digital para Todos tus Pagos</title>
<meta name="title" content="Pagami Wallet: Una Billetera Digital para Todos tus Pagos" />
<meta name="description" content="Compra y Vende USDT con Bolívares, paga Bienes y Servicios a socios afiliados, Retira y Transfiere dinero a amigos y familiares, todo dentro de Venezuela!" />

<meta property="og:type" content="website" />
<meta property="og:url" content="https://pagami.co/" />
<meta property="og:title" content="Pagami Wallet: Una Billetera Digital para Todos tus Pagos" />
<meta property="og:description" content="Compra y Vende USDT con Bolívares, paga Bienes y Servicios a socios afiliados, Retira y Transfiere dinero a amigos y familiares, todo dentro de Venezuela!" />
<meta property="og:image" content="https://pagami-wallet-landing.vercel.app/pagami-wallet-meta-image.png" />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://pagami.co/" />
<meta property="twitter:title" content="Pagami Wallet: Una Billetera Digital para Todos tus Pagos" />
<meta
    property="twitter:description"
    content="Compra y Vende USDT con Bolívares, paga Bienes y Servicios a socios afiliados, Retira y Transfiere dinero a amigos y familiares, todo dentro de Venezuela!"
/>
<meta property="twitter:image" content="https://pagami.co/pagami-wallet-meta-image.png" />
