---
import { Image } from "astro:assets";
import vistaRetiros from "../img/vista-retiros.png";
---

<section class="section container">
    <div data-gsap-trigger>
        <h2 class="section__title h2 text-center" data-gsap-animate>Retiros</h2>
        <h3 class="section__subtitle h1 text-center" data-gsap-animate>Retira en Bolívares o USDT.</h3>
        <p class="section__text h3 text-center" data-gsap-animate>
            Al realizar una orden de retiro encontraremos la oferta que más pague y podrás elegir retirar en Bolívares o en cualquier otra billetera de terceros como Binance en USDT.
        </p>
    </div>
    <Image class="section__img max-w-xs" src={vistaRetiros} alt="Teléfono que muestra una orden de retiro en Pagami Wallet" />
</section>
