---
import '@fontsource/poppins/400.css';
import '@fontsource/poppins/500.css';
import '../styles/global.css';
import Meta from '../components/Meta.astro';
import Header from '../components/Header.astro';
---

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content="{Astro.generator}" />
        <Meta />
    </head>
    <body>
        <Header />
        <main>
            <slot />
        </main>
    </body>
</html>
